<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<title>List of entries</title>
	<style type="text/css">
		a{
			text-decoration: none;
			color: #a12343;
		}

		td{
			color: #a12343;
		}
	</style>

</head>
<body>

{% csrf_token %}

	 <nav class="navbar navbar-default navbar-light bg-dark navbar-fixed-top">
  <div class="container" style="padding-left: 25%">
    <font color="white"><h2 >The Rennaisance Restaurant</h2></font>
  </div><br>
    </nav>
    <p align="center">Your review was successfully sent.Thank You!<br>
        We will definitely read your review and try to become better!
    </p>
        
  <center>
    <br>
    <button class="btn btn-dark"  onclick="location.href = '{% url 'hotel:index' %}';">Click to return home!</button>
</center>

</body>
</html>