<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<title>List of entries</title>
	<style type="text/css">
		a{
			text-decoration: none;
			color: #a12343;
		}

		td{
			color: #a12343;
		}
	</style>

</head>
<body>
<form action="">
{% csrf_token %}

	<div class="container">
    <h2>Welcome to The Renaissance Restaurant</h2>
    <hr>

        <p>Your <b>{{ current_points }} points</b> has been added to you old tally!</p>
        <p>Total points for mobile number {{ mobile_no }} is <b>{{ total_points }}</b></p>


</div>
</form>

</body>
</html>